body {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.root {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.loginBox {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 28%;
  height: 55%;
  background-color: #fff;
  border: solid 1px #dbdbdb;
  flex-direction: column;
  margin-left: 3%;
}

.btnLogin {
  width: 50%;
  height: 5vh;
  background-color: #0095f6;
  color: #ffffff;
  border-radius: 5px;

  font-size: 14px;
  border: none;
}

.CelPhone {
  width: 80%;
}

.perfilPic {
  width: 150px;
  height: 150px;
}

.igLogo {
  width: 150px;
  height: 150px;
}

.apple {
  width: 150px;
  height: 90px;
}
.google {
  width: 150px;
  height: 90px;
}
