body {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: space-evenly;
  align-items: center;
}
.root {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.mainLogin {
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 40%;
}

.loginBox {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 90%;
  height: 55%;
  background-color: #fff;
  border: solid 1px #dbdbdb;
  flex-direction: column;
}

.btnLogin {
  width: 70%;
  height: 5vh;
  background-color: #0095f6;
  color: #ffffff;
  border-radius: 5px;
  font-size: 14px;
  border: none;
}

.CelPhone {
  width: 50%;
 
}
.CelPhone2{
  width: 50%;
}

.perfilPic {
  width: 150px;
  height: 150px;
  border-radius: 90px;
}

.igLogo {
  width: 150px;
}

.apple {
  width: 150px;
}
.google {
  width: 150px;
}

.accountBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
  width: 90%;
  padding: 1.3rem 0;
  border: 1px solid lightgray;
  margin-top: 10px;
}

.imgBox {
  max-width: 95%;
  display: flex;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
}

.removeAcc {
  color: #0095f6;
}

.getApp {
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1.3rem 0;
}

@media (max-width: 1024px) {
  .root {
    width: 90%;
  }
}

@media (max-width: 650px) {
  body {
    background-color: #ffffff;
  }

  .root {
    width: 100%;
  }

  .CelPhone {
    display: none;
  }

  .loginBox {
    width: 100%;
  }

  .accountBox {
    border: 1px solid transparent;
  }

  .mainLogin{
    display: flex;
    width: 70%;
  }
}
